<%- include('partials/header.ejs')   %>
<%- include('nav.ejs')   %>
<%- include('carousel.ejs')   %>
<section>
    <h1 align="center">Admin Default Page</h1>
</section>


<%- include('partials/footer.ejs')   %>